.aboutMe {
    position: relative;
    min-height: calc(100vh - 173px);
}
.aboutMe .container {
    position: relative;
    width: 80%;
    left: 50%;
    min-height: calc(100vh - 173px);
    transform: translateX(-50%);
}
@keyframes blogInAnimation {
    0% {
        transform: translateY(70px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.aboutMe .container .article {
    margin-top: 50px;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 30px;
    margin-bottom: 15px;
    min-height: calc(100vh - 280px);
    animation: blogInAnimation ease-out 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.aboutMe .container .blogArticle {
    margin-top: 15px;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 30px;
    margin-bottom: 105px;
    animation: blogInAnimation ease-out 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.aboutMe .container .APILink {
    position: absolute;
    bottom: 40px;
    right: 40px;
}
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
}
.aboutMe .kakoiitoomou {
    position: absolute;
    bottom: -106px;
    left: 55%;
    width: 150px;
    opacity: 0;
    animation: fadeInAnimation ease-out 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}