.container {
    position: relative;
    min-height: calc(100vh - 310px);
    height: auto;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    50% { 
        opacity: 1; 
    }
    100% { 
        opacity: 0; 
    }
}

.loading {
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-family: '方正舒体';
    font-size: 20px;
    /* animation loop */
    animation: fadeInAnimation 1s ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}