@keyframes topInAnimation {
    0% {
        transform: translate(0, -100%);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}
.header > nav {
    position: relative;
    width: 100%;
    height: 70px;
    animation: topInAnimation ease-out 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: #fff;
}
.header > nav > ul {
    position: absolute;
    margin-top: 18px;
    white-space:nowrap
}
.header > nav > ul > li {
    list-style: none;
    display: inline-block;
    user-select: none;
}
.header > nav > ul > li > h1 {
    font-family: STHupo;
    font-size: 28px;
    margin-left: 15px;
    margin-right: 7px;
    color: black;
    cursor: default;
}
.header > nav > ul > li > p {
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    cursor: default;
    text-decoration: none;
}
.header .lighter {
    transform: translateY(-80px);
    opacity: 0;
    animation: fadeInAnimation ease-out 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}
.header .lighter .himo {
    display: inline-block;
    position: absolute;
    right: 50px;
    width: 1px;
    height: 80px;
    background-color: #000;
}
.header .lighter .switch {
    display: inline-block;
    position: absolute;
    right: 46px;
    top: 58px;
    border-radius: 25%;
    height: 20px;
    width: 7px;
    border: 1px solid #000;
    background-color: #f7c39d;
    cursor: pointer;
    transition: .5s;
}
.header .lighter .switchDown {
    display: inline-block;
    position: absolute;
    right: 46px;
    top: 65px;
    border-radius: 25%;
    height: 20px;
    width: 7px;
    border: 1px solid #000;
    background-color: #f7c39d;
    cursor: pointer;
    transition: .5s;
}

@keyframes topInAnimation {
    0% {
        transform: translate(0, -100%);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}
.header_night > nav {
    position: relative;
    width: 100%;
    height: 70px;
    animation: topInAnimation ease-out 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    color: #fff;
    background-color: #2e2e2e;
}
.header_night > nav > ul {
    position: absolute;
    margin-top: 18px;
    white-space:nowrap
}
.header_night > nav > ul > li {
    list-style: none;
    display: inline-block;
    user-select: none;
}
.header_night > nav > ul > li > h1 {
    font-family: STHupo;
    font-size: 28px;
    margin-left: 15px;
    margin-right: 7px;
    color: #fff;
    cursor: default;
}
.header_night > nav > ul > li > p {
    margin-right: 10px;
    margin-left: 10px;
    color: #fff;
    cursor: default;
    text-decoration: none;
}
.header_night .lighter {
    transform: translateY(-80px);
    opacity: 0;
    animation: fadeInAnimation ease-out 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}
.header_night .lighter .himo {
    display: inline-block;
    position: absolute;
    right: 50px;
    width: 1px;
    height: 70px;
    background-color: #fff;
}
.header_night .lighter .switch {
    display: inline-block;
    position: absolute;
    right: 46px;
    top: 58px;
    border-radius: 25%;
    height: 20px;
    width: 7px;
    border: 1px solid #000;
    background-color: #f7c39d;
    cursor: pointer;
    transition: .5s;
}
.header_night .lighter .switchDown {
    display: inline-block;
    position: absolute;
    right: 46px;
    top: 65px;
    border-radius: 25%;
    height: 20px;
    width: 7px;
    border: 1px solid #000;
    background-color: #f7c39d;
    cursor: pointer;
    transition: .5s;
}