/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[3]!./app/home/BlogCard.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
@keyframes BlogCard_blogInAnimation__aRVdd {
    0% {
        transform: translateY(70px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.BlogCard_inView__vYXEW {
    animation: BlogCard_blogInAnimation__aRVdd ease-out 1s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}
.BlogCard_blog__WhPHc {
    position: relative;
    width: 100%;
    height: 180px;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 30px;
    overflow: hidden;
    color: #000;
    margin-bottom: 30px;
    transition: 1s;
}
.BlogCard_blog__WhPHc:hover {
    box-shadow: 5px 4px 10px 7px #d0d0d0;
}
.BlogCard_blog__WhPHc .BlogCard_title__8aT_2 {
    position: relative;
    width: 100%;
    height: 45px;
}
.BlogCard_blog__WhPHc .BlogCard_title__8aT_2:active {
    background-color: rgba(148, 148, 148, 0.459);
}
.BlogCard_blog__WhPHc .BlogCard_title__8aT_2::after {
    content: ">";
    position: absolute;
    color: #000;
    right: 32px;
    top: 14px;
}
.BlogCard_blog__WhPHc .BlogCard_title__8aT_2 > p {
    position: absolute;
    color: #000;
    left: 40px;
    right: 45px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 600;
    font-size: 19px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.BlogCard_blog__WhPHc .BlogCard_disc__h1kJd {
    position: relative;
    width: 100%;
    height: 100px;
}
.BlogCard_blog__WhPHc .BlogCard_disc__h1kJd > p {
    position: absolute;
    left: 40px;
    right: 30px;
    top: 10%;
    font-weight: 300;
    font-size: 14px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.BlogCard_blog__WhPHc .BlogCard_blog_line__QexLY {
    width: 100%;
    height: 1px;
    background-color: #d0d0d0;
}
.BlogCard_blog__WhPHc .BlogCard_blog_footer__CxFu5 .BlogCard_tag__3_44y {
    position: relative;
    height: 21.5px;
    width: 47px;
    top: 4px;
    left: 42px;
    border: 0.5px solid rgb(199, 199, 199);
    color: rgb(116, 116, 116);
    border-radius: 5px;
    text-align: center;
}

@keyframes BlogCard_blogInAnimation__aRVdd {
    0% {
        transform: translateY(70px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.BlogCard_blog_night__jh78n {
    position: relative;
    width: 100%;
    height: 180px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 30px;
    overflow: hidden;
    transition: 1s;
    color: #fff !important;
    margin-bottom: 30px;
}

.BlogCard_blog_night__jh78n:hover {
    box-shadow: 0px 0px 14px 0px #d0d0d0;
}

.BlogCard_blog_night__jh78n .BlogCard_title__8aT_2 {
    position: relative;
    width: 100%;
    height: 45px;
}

.BlogCard_blog_night__jh78n .BlogCard_title__8aT_2::after {
    content: ">";
    position: absolute;
    color: #fff;
    right: 32px;
    top: 14px;
}

.BlogCard_blog_night__jh78n .BlogCard_title__8aT_2 > p {
    position: absolute;
    color: #fff;
    left: 40px;
    right: 45px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 600;
    font-size: 19px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.BlogCard_blog_night__jh78n .BlogCard_disc__h1kJd {
    position: relative;
    width: 100%;
    height: 100px;
}

.BlogCard_blog_night__jh78n .BlogCard_disc__h1kJd > p {
    position: absolute;
    left: 40px;
    right: 30px;
    top: 10%;
    font-weight: 300;
    font-size: 14px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.BlogCard_blog_night__jh78n .BlogCard_blog_line__QexLY {
    width: 100%;
    height: 1px;
    background-color: #666666;
}
.BlogCard_blog_night__jh78n .BlogCard_blog_footer__CxFu5 .BlogCard_tag__3_44y {
    position: relative;
    height: 21.5px;
    width: 47px;
    top: 4px;
    left: 42px;
    border: 0.5px solid rgb(199, 199, 199);
    color: rgb(236, 236, 236);
    border-radius: 5px;
    text-align: center;
}
