/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[3]!./app/home/BlogContainer.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
@keyframes BlogContainer_fadeInAnimation__anwZW { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
}
.BlogContainer_blogs__VDuAE {
    position: relative;
    min-height: calc(100vh - 310px);
    height: auto;
}

.BlogContainer_blogs__VDuAE .BlogContainer_container__jFXB_ {
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}
.BlogContainer_blogs__VDuAE .BlogContainer_tomodati__9mG7p {
    position: absolute;
    bottom: 10%;
    left: -41px;
    width: 90px;
    z-index: -1;
    opacity: 0;
    animation: BlogContainer_fadeInAnimation__anwZW ease-out 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}
