/*!**************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[11].use[3]!./styles/globals.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
}
/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[3]!./styles/mainPage.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.mainPage_body_night__DA8gp {
  background-color: rgb(46, 46, 46);
}
/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[3]!./app/components/Header.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
@keyframes Header_topInAnimation__XtE0_ {
    0% {
        transform: translate(0, -100%);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}
.Header_header__GwEYm nav {
    position: relative;
    width: 100%;
    height: 70px;
    animation: Header_topInAnimation__XtE0_ ease-out 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: #fff;
}
.Header_header__GwEYm nav ul {
    position: absolute;
    margin-top: 18px;
    white-space:nowrap
}
.Header_header__GwEYm nav ul li {
    list-style: none;
    display: inline-block;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}
.Header_header__GwEYm nav ul li h1 {
    font-family: STHupo;
    font-size: 28px;
    margin-left: 15px;
    margin-right: 7px;
    color: black;
    cursor: default;
}
.Header_header__GwEYm nav ul li p {
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    cursor: default;
    text-decoration: none;
}
.Header_header__GwEYm .Header_lighter__Nh4LK {
    transform: translateY(-80px);
    animation: Header_fadeInAnimation__ShFMh ease-out 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}
.Header_header__GwEYm .Header_lighter__Nh4LK .Header_himo__rNWoA {
    display: inline-block;
    position: absolute;
    right: 50px;
    width: 1px;
    height: 80px;
    background-color: #000;
}
.Header_header__GwEYm .Header_lighter__Nh4LK .Header_switch__EZ4nP {
    display: inline-block;
    position: absolute;
    right: 46px;
    top: 58px;
    border-radius: 25%;
    height: 20px;
    width: 7px;
    border: 1px solid #000;
    background-color: #f7c39d;
    cursor: pointer;
    transition: .5s;
}
.Header_header__GwEYm .Header_lighter__Nh4LK .Header_switchDown__nMqFa {
    display: inline-block;
    position: absolute;
    right: 46px;
    top: 65px;
    border-radius: 25%;
    height: 20px;
    width: 7px;
    border: 1px solid #000;
    background-color: #f7c39d;
    cursor: pointer;
    transition: .5s;
}

@keyframes Header_topInAnimation__XtE0_ {
    0% {
        transform: translate(0, -100%);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}
.Header_header_night__ttqkZ nav {
    position: relative;
    width: 100%;
    height: 70px;
    animation: Header_topInAnimation__XtE0_ ease-out 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    color: #fff;
    background-color: #2e2e2e;
}
.Header_header_night__ttqkZ nav ul {
    position: absolute;
    margin-top: 18px;
    white-space:nowrap
}
.Header_header_night__ttqkZ nav ul li {
    list-style: none;
    display: inline-block;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}
.Header_header_night__ttqkZ nav ul li h1 {
    font-family: STHupo;
    font-size: 28px;
    margin-left: 15px;
    margin-right: 7px;
    color: #fff;
    cursor: default;
}
.Header_header_night__ttqkZ nav ul li p {
    margin-right: 10px;
    margin-left: 10px;
    color: #fff;
    cursor: default;
    text-decoration: none;
}
.Header_header_night__ttqkZ .Header_lighter__Nh4LK {
    transform: translateY(-80px);
    animation: Header_fadeInAnimation__ShFMh ease-out 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}
.Header_header_night__ttqkZ .Header_lighter__Nh4LK .Header_himo__rNWoA {
    display: inline-block;
    position: absolute;
    right: 50px;
    width: 1px;
    height: 70px;
    background-color: #fff;
}
.Header_header_night__ttqkZ .Header_lighter__Nh4LK .Header_switch__EZ4nP {
    display: inline-block;
    position: absolute;
    right: 46px;
    top: 58px;
    border-radius: 25%;
    height: 20px;
    width: 7px;
    border: 1px solid #000;
    background-color: #f7c39d;
    cursor: pointer;
    transition: .5s;
}
.Header_header_night__ttqkZ .Header_lighter__Nh4LK .Header_switchDown__nMqFa {
    display: inline-block;
    position: absolute;
    right: 46px;
    top: 65px;
    border-radius: 25%;
    height: 20px;
    width: 7px;
    border: 1px solid #000;
    background-color: #f7c39d;
    cursor: pointer;
    transition: .5s;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[3]!./app/components/Footer.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.Footer_footer__pKMfQ .Footer_line__pwJKg {
    width: 100%;
    height: 1px;
    background-color: rgb(114, 114, 114);
    top: 0;
}
.Footer_footer__pKMfQ {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    animation: Footer_fadeInAnimation__DH_Lv ease-out 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.Footer_footer__pKMfQ > p {
    display: inline-block;
    position: absolute;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(128, 128, 128);
    font-size: x-small;
    font-weight: 500;
}
.Footer_footer__pKMfQ .Footer_at__IP0dM {
    top: 8px;
}
.Footer_footer__pKMfQ .Footer_touunn__rysc4 {
    top: 28px;
}
.Footer_footer__pKMfQ .Footer_ashiato__ZujjX {
    position: absolute;
    display: inline-block;
    left: 80%;
    top: 7px;
    height: 40px;
}

.Footer_footer_night__holFt .Footer_line__pwJKg {
    width: 100%;
    height: 1px;
    background-color: rgb(168, 168, 168);
    top: 0;
}
.Footer_footer_night__holFt {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    animation: Footer_fadeInAnimation__DH_Lv ease-out 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.Footer_footer_night__holFt > p {
    display: inline-block;
    position: absolute;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(168, 168, 168);
    font-size: x-small;
    font-weight: 500;
}
.Footer_footer_night__holFt .Footer_at__IP0dM {
    top: 8px;
}
.Footer_footer_night__holFt .Footer_touunn__rysc4 {
    top: 28px;
}
.Footer_footer_night__holFt .Footer_ashiato__ZujjX {
    position: absolute;
    display: inline-block;
    left: 80%;
    top: 7px;
    height: 40px;
}
