/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[3]!./styles/mainPage.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.mainPage_body_night__DA8gp {
  background-color: rgb(46, 46, 46);
}
/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[3]!./app/home/Profile.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.Profile_head__yxEfH {
    position: relative;
    width: 100%;
    height: 180px;
}
@keyframes Profile_fadeInAnimation__rKaeb { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
}
.Profile_head__yxEfH .Profile_profile__NH7Yv {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid rgb(114, 114, 114);
    background-image: url("https://q1.qlogo.cn/g?b=qq&nk=1292750686&s=640");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    animation: Profile_fadeInAnimation__rKaeb ease-out 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.Profile_head__yxEfH .Profile_hakase__WFjSY {
    position: absolute;
    z-index: -1;
    left: 10%;
    bottom: 41px;
    width: 80px;
    opacity: 0;
    animation: Profile_fadeInAnimation__rKaeb ease-out 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}
.Profile_head__yxEfH .Profile_sakamoto__04yRg {
    position: absolute;
    z-index: -1;
    width: 150px;
    right: 10%;
    top: 30px;
    opacity: 0;
    animation: Profile_fadeInAnimation__rKaeb ease-out 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}
@keyframes Profile_expandAnimation__Cs8AR {
    0% { 
        width: 0;
        opacity: 0;
    }
    30% { 
        width: 0;
        opacity: .2;
    }
    100% { 
        width: 50%;
        opacity: 1;
    } 
}
.Profile_head__yxEfH .Profile_line_l__xRI7V {
    position: absolute;
    right: 50%;
    z-index: -1;
    top: 139px;
    height: 1px;
    background-color: rgb(114, 114, 114);
    animation: Profile_expandAnimation__Cs8AR ease-out 4s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.Profile_head__yxEfH .Profile_line_r__YNfHL {
    position: absolute;
    left: 50%;
    z-index: -1;
    top: 139px;
    height: 1px;
    background-color: rgb(114, 114, 114);
    animation: Profile_expandAnimation__Cs8AR ease 4s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.Profile_profile_night__H2Rsn {
    position: relative;
    width: 100%;
    height: 180px;
}
@keyframes Profile_fadeInAnimation__rKaeb { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
}
.Profile_profile_night__H2Rsn .Profile_profile__NH7Yv {
    display: inline-block;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-image: url("https://q1.qlogo.cn/g?b=qq&nk=1292750686&s=640");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    animation: Profile_fadeInAnimation__rKaeb ease-out 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.Profile_profile_night__H2Rsn .Profile_hakase__WFjSY {
    position: absolute;
    z-index: 1;
    left: 10%;
    bottom: 41px;
    width: 80px;
    opacity: 0;
    animation: Profile_fadeInAnimation__rKaeb ease-out 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}
.Profile_profile_night__H2Rsn .Profile_sakamoto__04yRg {
    position: absolute;
    z-index: 1;
    width: 140px;
    right: 12%;
    top: 30px;
    opacity: 0;
    animation: Profile_fadeInAnimation__rKaeb ease-out 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}
@keyframes Profile_expandAnimation__Cs8AR {
    0% { 
        width: 0;
        opacity: 0;
    }
    30% { 
        width: 0;
        opacity: .2;
    }
    100% { 
        width: 50%;
        opacity: 1;
    } 
}
.Profile_profile_night__H2Rsn .Profile_line_l__xRI7V {
    position: absolute;
    z-index: 1;
    right: 50%;
    top: 139px;
    height: 1px;
    background-color: rgb(214, 214, 214);
    animation: Profile_expandAnimation__Cs8AR ease-out 4s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.Profile_profile_night__H2Rsn .Profile_line_r__YNfHL {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 139px;
    height: 1px;
    background-color: rgb(214, 214, 214);
    animation: Profile_expandAnimation__Cs8AR ease 4s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[3]!./app/home/BlogContainer/BlogCard.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
@keyframes BlogCard_blogInAnimation__oowTg {
    0% {
        transform: translateY(70px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.BlogCard_inView__HdeuC {
    animation: BlogCard_blogInAnimation__oowTg ease-out 1s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}
.BlogCard_blog__eBY2H {
    position: relative;
    width: 100%;
    height: 180px;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 30px;
    overflow: hidden;
    color: #000;
    margin-bottom: 30px;
    transition: 1s;
}
.BlogCard_blog__eBY2H:hover {
    box-shadow: 5px 4px 10px 7px #d0d0d0;
}
.BlogCard_blog__eBY2H .BlogCard_title__IT6Iy {
    position: relative;
    width: 100%;
    height: 45px;
}
.BlogCard_blog__eBY2H .BlogCard_title__IT6Iy:active {
    background-color: rgba(148, 148, 148, 0.459);
}
.BlogCard_blog__eBY2H .BlogCard_title__IT6Iy::after {
    content: ">";
    position: absolute;
    color: #000;
    right: 32px;
    top: 14px;
}
.BlogCard_blog__eBY2H .BlogCard_title__IT6Iy > p {
    position: absolute;
    color: #000;
    left: 40px;
    right: 45px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 600;
    font-size: 19px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.BlogCard_blog__eBY2H .BlogCard_disc__ob_S9 {
    position: relative;
    width: 100%;
    height: 100px;
}
.BlogCard_blog__eBY2H .BlogCard_disc__ob_S9 > p {
    position: absolute;
    left: 40px;
    right: 30px;
    top: 10%;
    font-weight: 300;
    font-size: 14px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.BlogCard_blog__eBY2H .BlogCard_blog_line__tWtuV {
    width: 100%;
    height: 1px;
    background-color: #d0d0d0;
}
.BlogCard_blog__eBY2H .BlogCard_blog_footer__f7yvK .BlogCard_tag__8u_2O {
    position: relative;
    height: 21.5px;
    width: 47px;
    top: 4px;
    left: 42px;
    border: 0.5px solid rgb(199, 199, 199);
    color: rgb(116, 116, 116);
    border-radius: 5px;
    text-align: center;
}

@keyframes BlogCard_blogInAnimation__oowTg {
    0% {
        transform: translateY(70px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.BlogCard_blog_night__tAlgK {
    position: relative;
    width: 100%;
    height: 180px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 30px;
    overflow: hidden;
    transition: 1s;
    color: #fff !important;
    margin-bottom: 30px;
}

.BlogCard_blog_night__tAlgK:hover {
    box-shadow: 0px 0px 14px 0px #d0d0d0;
}

.BlogCard_blog_night__tAlgK .BlogCard_title__IT6Iy {
    position: relative;
    width: 100%;
    height: 45px;
}

.BlogCard_blog_night__tAlgK .BlogCard_title__IT6Iy::after {
    content: ">";
    position: absolute;
    color: #fff;
    right: 32px;
    top: 14px;
}

.BlogCard_blog_night__tAlgK .BlogCard_title__IT6Iy > p {
    position: absolute;
    color: #fff;
    left: 40px;
    right: 45px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 600;
    font-size: 19px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.BlogCard_blog_night__tAlgK .BlogCard_disc__ob_S9 {
    position: relative;
    width: 100%;
    height: 100px;
}

.BlogCard_blog_night__tAlgK .BlogCard_disc__ob_S9 > p {
    position: absolute;
    left: 40px;
    right: 30px;
    top: 10%;
    font-weight: 300;
    font-size: 14px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.BlogCard_blog_night__tAlgK .BlogCard_blog_line__tWtuV {
    width: 100%;
    height: 1px;
    background-color: #666666;
}
.BlogCard_blog_night__tAlgK .BlogCard_blog_footer__f7yvK .BlogCard_tag__8u_2O {
    position: relative;
    height: 21.5px;
    width: 47px;
    top: 4px;
    left: 42px;
    border: 0.5px solid rgb(199, 199, 199);
    color: rgb(236, 236, 236);
    border-radius: 5px;
    text-align: center;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[3]!./app/home/BlogContainer/load.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.load_container__Kq2KM {
    position: relative;
    min-height: calc(100vh - 310px);
    height: auto;
}

@keyframes load_fadeInAnimation__h4tvz { 
    0% { 
        opacity: 0; 
    } 
    50% { 
        opacity: 1; 
    }
    100% { 
        opacity: 0; 
    }
}

.load_loading__pIUPq {
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-family: '方正舒体';
    font-size: 20px;
    /* animation loop */
    animation: load_fadeInAnimation__h4tvz 1s ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[3]!./app/home/BlogContainer/BlogContainer.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
@keyframes BlogContainer_fadeInAnimation__6CBUO { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
}
.BlogContainer_blogs__T2sAN {
    position: relative;
    min-height: calc(100vh - 310px);
    height: auto;
}

.BlogContainer_blogs__T2sAN .BlogContainer_container__QcOCK {
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}
.BlogContainer_blogs__T2sAN .BlogContainer_tomodati__CWmwk {
    position: absolute;
    bottom: 10%;
    left: -41px;
    width: 90px;
    z-index: -1;
    opacity: 0;
    animation: BlogContainer_fadeInAnimation__6CBUO ease-out 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}
