/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[3]!./styles/mainPage.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.mainPage_body_night__DA8gp {
  background-color: rgb(46, 46, 46);
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[3]!./app/blog/[title]/article.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
@keyframes article_fadeInAnimation__BXAaZ { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
}
.article_article__xmiJH {
    position: relative;
    min-height: calc(100vh - 173px);
    animation: article_fadeInAnimation__BXAaZ ease-out 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.article_article__xmiJH > li {
    list-style: none;
    position: relative;
}
.article_article__xmiJH .article_container__4ev7l {
    position: relative;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}
.article_article__xmiJH .article_container__4ev7l .article_index__7MMmw {
    margin-top: 30px;
    width: 100%;
    border: 1px solid #000;
    border-radius: 14px;
    overflow: hidden;
}
.article_article__xmiJH .article_container__4ev7l .article_index__7MMmw > li {
    width: 100%;
    height: 20px;
    text-indent: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}
.article_article__xmiJH .article_container__4ev7l .article_index__7MMmw > li:not(:last-child) {
    border-bottom: 1px solid rgb(88, 88, 88);
}
.article_article__xmiJH .article_container__4ev7l .article_index__7MMmw > li:active {
    background-color: rgba(148, 148, 148, 0.459);
}

.article_svg__f6QMs {
    margin-left: -10px;
    margin-top: 1px;
    margin-right: 10px;
}

@keyframes article_blogInAnimation__wO_qL {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.article_article__xmiJH .article_container__4ev7l .article_article__xmiJH {
    margin-top: 10px;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 30px;
    margin-bottom: 10px;
    min-height: 30px;
    animation: article_blogInAnimation__wO_qL ease-out 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.article_article__xmiJH .article_container__4ev7l .article_APILink__SJ90u {
    position: absolute;
    bottom: 40px;
    right: 40px;
}
@keyframes article_fadeInAnimation__BXAaZ { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
}
.article_article__xmiJH .article_kakoiitoomou__oZUHK {
    position: absolute;
    bottom: -106px;
    left: 55%;
    width: 150px;
    opacity: 0;
    animation: article_fadeInAnimation__BXAaZ ease-out 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

.article_article__xmiJH .article_container__4ev7l .article_index_night__P6k8l {
    margin-top: 30px;
    width: 100%;
    border: 1px solid rgb(187, 186, 186);
    border-radius: 14px;
    overflow: hidden;
}
.article_article__xmiJH .article_container__4ev7l .article_index_night__P6k8l > li {
    width: 100%;
    height: 20px;
    text-indent: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    color: rgb(219, 219, 219);
}
.article_article__xmiJH .article_container__4ev7l .article_index_night__P6k8l > li:not(:last-child) {
    border-bottom: 1px solid rgb(88, 88, 88);
}
.article_article__xmiJH .article_container__4ev7l .article_index_night__P6k8l > li:active {
    background-color: rgba(148, 148, 148, 0.459);
}
.article_article__xmiJH .article_container__4ev7l .article_loadingContainer__37P5N {
    min-height: calc(100vh - 138px);
}
@keyframes article_LoadfadeInAnimation__uSfpm { 
    0% { 
        opacity: 0; 
    } 
    50% { 
        opacity: 1; 
    }
    100% { 
        opacity: 0; 
    }
}
.article_loadingText__gCKjY {
    opacity: 1;
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-family: '方正舒体';
    font-size: 20px;
    /* animation loop */
    animation: article_LoadfadeInAnimation__uSfpm 1s ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}
.article_loadingTextNight__BpErh {
    opacity: 1;
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-family: '方正舒体';
    font-size: 20px;
    color: #fff;
    /* animation loop */
    animation: article_LoadfadeInAnimation__uSfpm 1s ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}
/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[3]!./styles/markdown.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.markdown_markdown_body__r7wQA {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  color: #24292f;
  background-color: #ffffff;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown_markdown_body__r7wQA .markdown_octicon__KsF5E {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.markdown_markdown_body__r7wQA h1:hover .markdown_anchor__HxXM0 .markdown_octicon-link__Eoxd3:before,
.markdown_markdown_body__r7wQA h2:hover .markdown_anchor__HxXM0 .markdown_octicon-link__Eoxd3:before,
.markdown_markdown_body__r7wQA h3:hover .markdown_anchor__HxXM0 .markdown_octicon-link__Eoxd3:before,
.markdown_markdown_body__r7wQA h4:hover .markdown_anchor__HxXM0 .markdown_octicon-link__Eoxd3:before,
.markdown_markdown_body__r7wQA h5:hover .markdown_anchor__HxXM0 .markdown_octicon-link__Eoxd3:before,
.markdown_markdown_body__r7wQA h6:hover .markdown_anchor__HxXM0 .markdown_octicon-link__Eoxd3:before {
  width: 16px;
  height: 16px;
  content: ' ';
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.markdown_markdown_body__r7wQA details,
.markdown_markdown_body__r7wQA figcaption,
.markdown_markdown_body__r7wQA figure {
  display: block;
}

.markdown_markdown_body__r7wQA summary {
  display: list-item;
}

.markdown_markdown_body__r7wQA [hidden] {
  display: none !important;
}

.markdown_markdown_body__r7wQA a {
  background-color: transparent;
  color: #0969da;
  text-decoration: none;
}

.markdown_markdown_body__r7wQA a:active,
.markdown_markdown_body__r7wQA a:hover {
  outline-width: 0;
}

.markdown_markdown_body__r7wQA abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

.markdown_markdown_body__r7wQA b,
.markdown_markdown_body__r7wQA strong {
  font-weight: 600;
}

.markdown_markdown_body__r7wQA dfn {
  font-style: italic;
}

.markdown_markdown_body__r7wQA h1 {
  margin: .67em 0;
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 2em;
  border-bottom: 1px solid hsla(210,18%,87%,1);
}

.markdown_markdown_body__r7wQA mark {
  background-color: #fff8c5;
  color: #24292f;
}

.markdown_markdown_body__r7wQA small {
  font-size: 90%;
}

.markdown_markdown_body__r7wQA sub,
.markdown_markdown_body__r7wQA sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.markdown_markdown_body__r7wQA sub {
  bottom: -0.25em;
}

.markdown_markdown_body__r7wQA sup {
  top: -0.5em;
}

.markdown_markdown_body__r7wQA img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: #ffffff;
  padding-top: 10px;
}

.markdown_markdown_body__r7wQA code,
.markdown_markdown_body__r7wQA kbd,
.markdown_markdown_body__r7wQA pre,
.markdown_markdown_body__r7wQA samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

.markdown_markdown_body__r7wQA figure {
  margin: 1em 40px;
}

.markdown_markdown_body__r7wQA hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid hsla(210,18%,87%,1);
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: #d0d7de;
  border: 0;
}

.markdown_markdown_body__r7wQA input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdown_markdown_body__r7wQA [type=button],
.markdown_markdown_body__r7wQA [type=reset],
.markdown_markdown_body__r7wQA [type=submit] {
  -webkit-appearance: button;
}

.markdown_markdown_body__r7wQA [type=button]::-moz-focus-inner,
.markdown_markdown_body__r7wQA [type=reset]::-moz-focus-inner,
.markdown_markdown_body__r7wQA [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

.markdown_markdown_body__r7wQA [type=button]:-moz-focusring,
.markdown_markdown_body__r7wQA [type=reset]:-moz-focusring,
.markdown_markdown_body__r7wQA [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.markdown_markdown_body__r7wQA [type=checkbox],
.markdown_markdown_body__r7wQA [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.markdown_markdown_body__r7wQA [type=number]::-webkit-inner-spin_button,
.markdown_markdown_body__r7wQA [type=number]::-webkit-outer-spin_button {
  height: auto;
}

.markdown_markdown_body__r7wQA [type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

.markdown_markdown_body__r7wQA [type=search]::-webkit-search-cancel-button,
.markdown_markdown_body__r7wQA [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.markdown_markdown_body__r7wQA ::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

.markdown_markdown_body__r7wQA ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.markdown_markdown_body__r7wQA a:hover {
  text-decoration: underline;
}

.markdown_markdown_body__r7wQA hr::before {
  display: table;
  content: "";
}

.markdown_markdown_body__r7wQA hr::after {
  display: table;
  clear: both;
  content: "";
}

.markdown_markdown_body__r7wQA table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.markdown_markdown_body__r7wQA td,
.markdown_markdown_body__r7wQA th {
  padding: 0;
}

.markdown_markdown_body__r7wQA details summary {
  cursor: pointer;
}

.markdown_markdown_body__r7wQA details:not([open])>*:not(summary) {
  display: none !important;
}

.markdown_markdown_body__r7wQA kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  line-height: 10px;
  color: #24292f;
  vertical-align: middle;
  background-color: #f6f8fa;
  border: solid 1px rgba(175,184,193,0.2);
  border-bottom-color: rgba(175,184,193,0.2);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(175,184,193,0.2);
}

.markdown_markdown_body__r7wQA h1,
.markdown_markdown_body__r7wQA h2,
.markdown_markdown_body__r7wQA h3,
.markdown_markdown_body__r7wQA h4,
.markdown_markdown_body__r7wQA h5,
.markdown_markdown_body__r7wQA h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown_markdown_body__r7wQA h2 {
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 1.5em;
  border-bottom: 1px solid hsla(210,18%,87%,1);
}

.markdown_markdown_body__r7wQA h3 {
  font-weight: 600;
  font-size: 1.25em;
}

.markdown_markdown_body__r7wQA h4 {
  font-weight: 600;
  font-size: 1em;
}

.markdown_markdown_body__r7wQA h5 {
  font-weight: 600;
  font-size: .875em;
}

.markdown_markdown_body__r7wQA h6 {
  font-weight: 600;
  font-size: .85em;
  color: #57606a;
}

.markdown_markdown_body__r7wQA p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown_markdown_body__r7wQA blockquote {
  margin: 0;
  padding: 0 1em;
  color: #57606a;
  border-left: .25em solid #d0d7de;
}

.markdown_markdown_body__r7wQA ul,
.markdown_markdown_body__r7wQA ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.markdown_markdown_body__r7wQA ol ol,
.markdown_markdown_body__r7wQA ul ol {
  list-style-type: lower-roman;
}

.markdown_markdown_body__r7wQA ul ul ol,
.markdown_markdown_body__r7wQA ul ol ol,
.markdown_markdown_body__r7wQA ol ul ol,
.markdown_markdown_body__r7wQA ol ol ol {
  list-style-type: lower-alpha;
}

.markdown_markdown_body__r7wQA dd {
  margin-left: 0;
}

.markdown_markdown_body__r7wQA tt,
.markdown_markdown_body__r7wQA code {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
}

.markdown_markdown_body__r7wQA pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
  word-wrap: normal;
}

.markdown_markdown_body__r7wQA .markdown_octicon__KsF5E {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.markdown_markdown_body__r7wQA ::placeholder {
  color: #6e7781;
  opacity: 1;
}

.markdown_markdown_body__r7wQA input::-webkit-outer-spin_button,
.markdown_markdown_body__r7wQA input::-webkit-inner-spin_button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.markdown_markdown_body__r7wQA .markdown_pl-c__4IiBj {
  color: #6e7781;
}

.markdown_markdown_body__r7wQA .markdown_pl-c1__DgZIJ,
.markdown_markdown_body__r7wQA .markdown_pl-s__jZvTL .markdown_pl-v__ybNQx {
  color: #0550ae;
}

.markdown_markdown_body__r7wQA .markdown_pl-e__ZLRno,
.markdown_markdown_body__r7wQA .markdown_pl-en__ETfwR {
  color: #8250df;
}

.markdown_markdown_body__r7wQA .markdown_pl-smi__ruhsY,
.markdown_markdown_body__r7wQA .markdown_pl-s__jZvTL .markdown_pl-s1__kbLvr {
  color: #24292f;
}

.markdown_markdown_body__r7wQA .markdown_pl-ent__TC2ZD {
  color: #116329;
}

.markdown_markdown_body__r7wQA .markdown_pl-k__2BWne {
  color: #cf222e;
}

.markdown_markdown_body__r7wQA .markdown_pl-s__jZvTL,
.markdown_markdown_body__r7wQA .markdown_pl-pds__oSDyK,
.markdown_markdown_body__r7wQA .markdown_pl-s__jZvTL .markdown_pl-pse__1pEz2 .markdown_pl-s1__kbLvr,
.markdown_markdown_body__r7wQA .markdown_pl-sr__kOvgr,
.markdown_markdown_body__r7wQA .markdown_pl-sr__kOvgr .markdown_pl-cce__QDSgA,
.markdown_markdown_body__r7wQA .markdown_pl-sr__kOvgr .markdown_pl-sre__rPnvF,
.markdown_markdown_body__r7wQA .markdown_pl-sr__kOvgr .markdown_pl-sra__dEAtY {
  color: #0a3069;
}

.markdown_markdown_body__r7wQA .markdown_pl-v__ybNQx,
.markdown_markdown_body__r7wQA .markdown_pl-smw__T_fAg {
  color: #953800;
}

.markdown_markdown_body__r7wQA .markdown_pl-bu__OTaQD {
  color: #82071e;
}

.markdown_markdown_body__r7wQA .markdown_pl-ii__Bcsh6 {
  color: #f6f8fa;
  background-color: #82071e;
}

.markdown_markdown_body__r7wQA .markdown_pl-c2___OV5v {
  color: #f6f8fa;
  background-color: #cf222e;
}

.markdown_markdown_body__r7wQA .markdown_pl-sr__kOvgr .markdown_pl-cce__QDSgA {
  font-weight: bold;
  color: #116329;
}

.markdown_markdown_body__r7wQA .markdown_pl-ml__Uq2FB {
  color: #3b2300;
}

.markdown_markdown_body__r7wQA .markdown_pl-mh__yQdxP,
.markdown_markdown_body__r7wQA .markdown_pl-mh__yQdxP .markdown_pl-en__ETfwR,
.markdown_markdown_body__r7wQA .markdown_pl-ms__WBgHH {
  font-weight: bold;
  color: #0550ae;
}

.markdown_markdown_body__r7wQA .markdown_pl-mi__TFNGu {
  font-style: italic;
  color: #24292f;
}

.markdown_markdown_body__r7wQA .markdown_pl-mb__8ZYWa {
  font-weight: bold;
  color: #24292f;
}

.markdown_markdown_body__r7wQA .markdown_pl-md__DPYtj {
  color: #82071e;
  background-color: #FFEBE9;
}

.markdown_markdown_body__r7wQA .markdown_pl-mi1__TqQGm {
  color: #116329;
  background-color: #dafbe1;
}

.markdown_markdown_body__r7wQA .markdown_pl-mc__QtCwG {
  color: #953800;
  background-color: #ffd8b5;
}

.markdown_markdown_body__r7wQA .markdown_pl-mi2__cKehh {
  color: #eaeef2;
  background-color: #0550ae;
}

.markdown_markdown_body__r7wQA .markdown_pl-mdr__eL_do {
  font-weight: bold;
  color: #8250df;
}

.markdown_markdown_body__r7wQA .markdown_pl-ba__DB_4V {
  color: #57606a;
}

.markdown_markdown_body__r7wQA .markdown_pl-sg__46_nf {
  color: #8c959f;
}

.markdown_markdown_body__r7wQA .markdown_pl-corl__aZ8ZJ {
  text-decoration: underline;
  color: #0a3069;
}

.markdown_markdown_body__r7wQA [data-catalyst] {
  display: block;
}

.markdown_markdown_body__r7wQA g-emoji {
  font-family: "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: 400;
  line-height: 1;
  vertical-align: -0.075em;
}

.markdown_markdown_body__r7wQA g-emoji img {
  width: 1em;
  height: 1em;
}

.markdown_markdown_body__r7wQA::before {
  display: table;
  content: "";
}

.markdown_markdown_body__r7wQA::after {
  display: table;
  clear: both;
  content: "";
}

.markdown_markdown_body__r7wQA>*:first-child {
  margin-top: 0 !important;
}

.markdown_markdown_body__r7wQA>*:last-child {
  margin-bottom: 0 !important;
}

.markdown_markdown_body__r7wQA a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown_markdown_body__r7wQA .markdown_absent__QDZyp {
  color: #cf222e;
}

.markdown_markdown_body__r7wQA .markdown_anchor__HxXM0 {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.markdown_markdown_body__r7wQA .markdown_anchor__HxXM0:focus {
  outline: none;
}

.markdown_markdown_body__r7wQA p,
.markdown_markdown_body__r7wQA blockquote,
.markdown_markdown_body__r7wQA ul,
.markdown_markdown_body__r7wQA ol,
.markdown_markdown_body__r7wQA dl,
.markdown_markdown_body__r7wQA table,
.markdown_markdown_body__r7wQA pre,
.markdown_markdown_body__r7wQA details {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown_markdown_body__r7wQA blockquote>:first-child {
  margin-top: 0;
}

.markdown_markdown_body__r7wQA blockquote>:last-child {
  margin-bottom: 0;
}

.markdown_markdown_body__r7wQA sup>a::before {
  content: "[";
}

.markdown_markdown_body__r7wQA sup>a::after {
  content: "]";
}

.markdown_markdown_body__r7wQA h1 .markdown_octicon-link__Eoxd3,
.markdown_markdown_body__r7wQA h2 .markdown_octicon-link__Eoxd3,
.markdown_markdown_body__r7wQA h3 .markdown_octicon-link__Eoxd3,
.markdown_markdown_body__r7wQA h4 .markdown_octicon-link__Eoxd3,
.markdown_markdown_body__r7wQA h5 .markdown_octicon-link__Eoxd3,
.markdown_markdown_body__r7wQA h6 .markdown_octicon-link__Eoxd3 {
  color: #24292f;
  vertical-align: middle;
  visibility: hidden;
}

.markdown_markdown_body__r7wQA h1:hover .markdown_anchor__HxXM0,
.markdown_markdown_body__r7wQA h2:hover .markdown_anchor__HxXM0,
.markdown_markdown_body__r7wQA h3:hover .markdown_anchor__HxXM0,
.markdown_markdown_body__r7wQA h4:hover .markdown_anchor__HxXM0,
.markdown_markdown_body__r7wQA h5:hover .markdown_anchor__HxXM0,
.markdown_markdown_body__r7wQA h6:hover .markdown_anchor__HxXM0 {
  text-decoration: none;
}

.markdown_markdown_body__r7wQA h1:hover .markdown_anchor__HxXM0 .markdown_octicon-link__Eoxd3,
.markdown_markdown_body__r7wQA h2:hover .markdown_anchor__HxXM0 .markdown_octicon-link__Eoxd3,
.markdown_markdown_body__r7wQA h3:hover .markdown_anchor__HxXM0 .markdown_octicon-link__Eoxd3,
.markdown_markdown_body__r7wQA h4:hover .markdown_anchor__HxXM0 .markdown_octicon-link__Eoxd3,
.markdown_markdown_body__r7wQA h5:hover .markdown_anchor__HxXM0 .markdown_octicon-link__Eoxd3,
.markdown_markdown_body__r7wQA h6:hover .markdown_anchor__HxXM0 .markdown_octicon-link__Eoxd3 {
  visibility: visible;
}

.markdown_markdown_body__r7wQA h1 tt,
.markdown_markdown_body__r7wQA h1 code,
.markdown_markdown_body__r7wQA h2 tt,
.markdown_markdown_body__r7wQA h2 code,
.markdown_markdown_body__r7wQA h3 tt,
.markdown_markdown_body__r7wQA h3 code,
.markdown_markdown_body__r7wQA h4 tt,
.markdown_markdown_body__r7wQA h4 code,
.markdown_markdown_body__r7wQA h5 tt,
.markdown_markdown_body__r7wQA h5 code,
.markdown_markdown_body__r7wQA h6 tt,
.markdown_markdown_body__r7wQA h6 code {
  padding: 0 .2em;
  font-size: inherit;
}

.markdown_markdown_body__r7wQA ul.markdown_no-list__GxYMp,
.markdown_markdown_body__r7wQA ol.markdown_no-list__GxYMp {
  padding: 0;
  list-style-type: none;
}

.markdown_markdown_body__r7wQA ol[type="1"] {
  list-style-type: decimal;
}

.markdown_markdown_body__r7wQA ol[type=a] {
  list-style-type: lower-alpha;
}

.markdown_markdown_body__r7wQA ol[type=i] {
  list-style-type: lower-roman;
}

.markdown_markdown_body__r7wQA div>ol:not([type]) {
  list-style-type: decimal;
}

.markdown_markdown_body__r7wQA ul ul,
.markdown_markdown_body__r7wQA ul ol,
.markdown_markdown_body__r7wQA ol ol,
.markdown_markdown_body__r7wQA ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown_markdown_body__r7wQA li>p {
  margin-top: 16px;
}

.markdown_markdown_body__r7wQA li+li {
  margin-top: .25em;
}

.markdown_markdown_body__r7wQA dl {
  padding: 0;
}

.markdown_markdown_body__r7wQA dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdown_markdown_body__r7wQA dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown_markdown_body__r7wQA table th {
  font-weight: 600;
}

.markdown_markdown_body__r7wQA table th,
.markdown_markdown_body__r7wQA table td {
  padding: 6px 13px;
  border: 1px solid #d0d7de;
}

.markdown_markdown_body__r7wQA table tr {
  background-color: #ffffff;
  border-top: 1px solid hsla(210,18%,87%,1);
}

.markdown_markdown_body__r7wQA table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown_markdown_body__r7wQA table img {
  background-color: transparent;
}

.markdown_markdown_body__r7wQA img[align=right] {
  padding-left: 20px;
}

.markdown_markdown_body__r7wQA img[align=left] {
  padding-right: 20px;
}

.markdown_markdown_body__r7wQA .markdown_emoji__4S_E3 {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

.markdown_markdown_body__r7wQA span.markdown_frame__rgnf1 {
  display: block;
  overflow: hidden;
}

.markdown_markdown_body__r7wQA span.markdown_frame__rgnf1>span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #d0d7de;
}

.markdown_markdown_body__r7wQA span.markdown_frame__rgnf1 span img {
  display: block;
  float: left;
}

.markdown_markdown_body__r7wQA span.markdown_frame__rgnf1 span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #24292f;
}

.markdown_markdown_body__r7wQA span.markdown_align-center__daXFs {
  display: block;
  overflow: hidden;
  clear: both;
}

.markdown_markdown_body__r7wQA span.markdown_align-center__daXFs>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

.markdown_markdown_body__r7wQA span.markdown_align-center__daXFs span img {
  margin: 0 auto;
  text-align: center;
}

.markdown_markdown_body__r7wQA span.markdown_align-right__uNdQJ {
  display: block;
  overflow: hidden;
  clear: both;
}

.markdown_markdown_body__r7wQA span.markdown_align-right__uNdQJ>span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

.markdown_markdown_body__r7wQA span.markdown_align-right__uNdQJ span img {
  margin: 0;
  text-align: right;
}

.markdown_markdown_body__r7wQA span.markdown_float-left__Cp7_X {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

.markdown_markdown_body__r7wQA span.markdown_float-left__Cp7_X span {
  margin: 13px 0 0;
}

.markdown_markdown_body__r7wQA span.markdown_float-right__3KGkB {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

.markdown_markdown_body__r7wQA span.markdown_float-right__3KGkB>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

.markdown_markdown_body__r7wQA code,
.markdown_markdown_body__r7wQA tt {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(175,184,193,0.2);
  border-radius: 6px;
}

.markdown_markdown_body__r7wQA code br,
.markdown_markdown_body__r7wQA tt br {
  display: none;
}

.markdown_markdown_body__r7wQA del code {
  text-decoration: inherit;
}

.markdown_markdown_body__r7wQA pre code {
  font-size: 100%;
}

.markdown_markdown_body__r7wQA pre>code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown_markdown_body__r7wQA .markdown_highlight__wMsYC {
  margin-bottom: 16px;
}

.markdown_markdown_body__r7wQA .markdown_highlight__wMsYC pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown_markdown_body__r7wQA .markdown_highlight__wMsYC pre,
.markdown_markdown_body__r7wQA pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 6px;
}

.markdown_markdown_body__r7wQA pre code,
.markdown_markdown_body__r7wQA pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.markdown_markdown_body__r7wQA .markdown_csv-data__Iiq9v td,
.markdown_markdown_body__r7wQA .markdown_csv-data__Iiq9v th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

.markdown_markdown_body__r7wQA .markdown_csv-data__Iiq9v .markdown_blob-num__XgFqy {
  padding: 10px 8px 9px;
  text-align: right;
  background: #ffffff;
  border: 0;
}

.markdown_markdown_body__r7wQA .markdown_csv-data__Iiq9v tr {
  border-top: 0;
}

.markdown_markdown_body__r7wQA .markdown_csv-data__Iiq9v th {
  font-weight: 600;
  background: #f6f8fa;
  border-top: 0;
}

.markdown_markdown_body__r7wQA .markdown_footnotes__hVBzj {
  font-size: 12px;
  color: #57606a;
  border-top: 1px solid #d0d7de;
}

.markdown_markdown_body__r7wQA .markdown_footnotes__hVBzj ol {
  padding-left: 16px;
}

.markdown_markdown_body__r7wQA .markdown_footnotes__hVBzj li {
  position: relative;
}

.markdown_markdown_body__r7wQA .markdown_footnotes__hVBzj li:target::before {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -24px;
  pointer-events: none;
  content: "";
  border: 2px solid #0969da;
  border-radius: 6px;
}

.markdown_markdown_body__r7wQA .markdown_footnotes__hVBzj li:target {
  color: #24292f;
}

.markdown_markdown_body__r7wQA .markdown_footnotes__hVBzj .markdown_data-footnote-backref__TzK0a g-emoji {
  font-family: monospace;
}

.markdown_markdown_body__r7wQA .markdown_task-list-item__3oA9I {
  list-style-type: none;
}

.markdown_markdown_body__r7wQA .markdown_task-list-item__3oA9I label {
  font-weight: 400;
}

.markdown_markdown_body__r7wQA .markdown_task-list-item__3oA9I.markdown_enabled__gLlcN label {
  cursor: pointer;
}

.markdown_markdown_body__r7wQA .markdown_task-list-item__3oA9I+.markdown_task-list-item__3oA9I {
  margin-top: 3px;
}

.markdown_markdown_body__r7wQA .markdown_task-list-item__3oA9I .markdown_handle__yu1hR {
  display: none;
}

.markdown_markdown_body__r7wQA .markdown_task-list-item-checkbox__YZUcd {
  margin: 0 .2em .25em -1.6em;
  vertical-align: middle;
}

.markdown_markdown_body__r7wQA .markdown_contains-task-list__HJAjs:dir(rtl) .markdown_task-list-item-checkbox__YZUcd {
  margin: 0 -1.6em .25em .2em;
}

.markdown_markdown_body__r7wQA ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}


.markdown_markdown_body_dark__zmJ7P {
  color-scheme: dark;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  color: #c9d1d9;
  background-color: #595959;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown_markdown_body_dark__zmJ7P .markdown_octicon__KsF5E {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.markdown_markdown_body_dark__zmJ7P h1:hover .markdown_anchor__HxXM0 .markdown_octicon-link__Eoxd3:before,
.markdown_markdown_body_dark__zmJ7P h2:hover .markdown_anchor__HxXM0 .markdown_octicon-link__Eoxd3:before,
.markdown_markdown_body_dark__zmJ7P h3:hover .markdown_anchor__HxXM0 .markdown_octicon-link__Eoxd3:before,
.markdown_markdown_body_dark__zmJ7P h4:hover .markdown_anchor__HxXM0 .markdown_octicon-link__Eoxd3:before,
.markdown_markdown_body_dark__zmJ7P h5:hover .markdown_anchor__HxXM0 .markdown_octicon-link__Eoxd3:before,
.markdown_markdown_body_dark__zmJ7P h6:hover .markdown_anchor__HxXM0 .markdown_octicon-link__Eoxd3:before {
  width: 16px;
  height: 16px;
  content: ' ';
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.markdown_markdown_body_dark__zmJ7P details,
.markdown_markdown_body_dark__zmJ7P figcaption,
.markdown_markdown_body_dark__zmJ7P figure {
  display: block;
}

.markdown_markdown_body_dark__zmJ7P summary {
  display: list-item;
}

.markdown_markdown_body_dark__zmJ7P [hidden] {
  display: none !important;
}

.markdown_markdown_body_dark__zmJ7P a {
  background-color: transparent;
  color: #58a6ff;
  text-decoration: none;
}

.markdown_markdown_body_dark__zmJ7P a:active,
.markdown_markdown_body_dark__zmJ7P a:hover {
  outline-width: 0;
}

.markdown_markdown_body_dark__zmJ7P abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

.markdown_markdown_body_dark__zmJ7P b,
.markdown_markdown_body_dark__zmJ7P strong {
  font-weight: 600;
}

.markdown_markdown_body_dark__zmJ7P dfn {
  font-style: italic;
}

.markdown_markdown_body_dark__zmJ7P h1 {
  margin: .67em 0;
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 2em;
  border-bottom: 1px solid #21262d;
}

.markdown_markdown_body_dark__zmJ7P mark {
  background-color: rgba(187,128,9,0.15);
  color: #c9d1d9;
}

.markdown_markdown_body_dark__zmJ7P small {
  font-size: 90%;
}

.markdown_markdown_body_dark__zmJ7P sub,
.markdown_markdown_body_dark__zmJ7P sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.markdown_markdown_body_dark__zmJ7P sub {
  bottom: -0.25em;
}

.markdown_markdown_body_dark__zmJ7P sup {
  top: -0.5em;
}

.markdown_markdown_body_dark__zmJ7P img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: #0d1117;
}

.markdown_markdown_body_dark__zmJ7P code,
.markdown_markdown_body_dark__zmJ7P kbd,
.markdown_markdown_body_dark__zmJ7P pre,
.markdown_markdown_body_dark__zmJ7P samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

.markdown_markdown_body_dark__zmJ7P figure {
  margin: 1em 40px;
}

.markdown_markdown_body_dark__zmJ7P hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid #21262d;
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: #30363d;
  border: 0;
}

.markdown_markdown_body_dark__zmJ7P input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdown_markdown_body_dark__zmJ7P [type=button],
.markdown_markdown_body_dark__zmJ7P [type=reset],
.markdown_markdown_body_dark__zmJ7P [type=submit] {
  -webkit-appearance: button;
}

.markdown_markdown_body_dark__zmJ7P [type=button]::-moz-focus-inner,
.markdown_markdown_body_dark__zmJ7P [type=reset]::-moz-focus-inner,
.markdown_markdown_body_dark__zmJ7P [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

.markdown_markdown_body_dark__zmJ7P [type=button]:-moz-focusring,
.markdown_markdown_body_dark__zmJ7P [type=reset]:-moz-focusring,
.markdown_markdown_body_dark__zmJ7P [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.markdown_markdown_body_dark__zmJ7P [type=checkbox],
.markdown_markdown_body_dark__zmJ7P [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.markdown_markdown_body_dark__zmJ7P [type=number]::-webkit-inner-spin_button,
.markdown_markdown_body_dark__zmJ7P [type=number]::-webkit-outer-spin_button {
  height: auto;
}

.markdown_markdown_body_dark__zmJ7P [type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

.markdown_markdown_body_dark__zmJ7P [type=search]::-webkit-search-cancel-button,
.markdown_markdown_body_dark__zmJ7P [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.markdown_markdown_body_dark__zmJ7P ::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

.markdown_markdown_body_dark__zmJ7P ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.markdown_markdown_body_dark__zmJ7P a:hover {
  text-decoration: underline;
}

.markdown_markdown_body_dark__zmJ7P hr::before {
  display: table;
  content: "";
}

.markdown_markdown_body_dark__zmJ7P hr::after {
  display: table;
  clear: both;
  content: "";
}

.markdown_markdown_body_dark__zmJ7P table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.markdown_markdown_body_dark__zmJ7P td,
.markdown_markdown_body_dark__zmJ7P th {
  padding: 0;
}

.markdown_markdown_body_dark__zmJ7P details summary {
  cursor: pointer;
}

.markdown_markdown_body_dark__zmJ7P details:not([open])>*:not(summary) {
  display: none !important;
}

.markdown_markdown_body_dark__zmJ7P kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  line-height: 10px;
  color: #c9d1d9;
  vertical-align: middle;
  background-color: #161b22;
  border: solid 1px rgba(110,118,129,0.4);
  border-bottom-color: rgba(110,118,129,0.4);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(110,118,129,0.4);
}

.markdown_markdown_body_dark__zmJ7P h1,
.markdown_markdown_body_dark__zmJ7P h2,
.markdown_markdown_body_dark__zmJ7P h3,
.markdown_markdown_body_dark__zmJ7P h4,
.markdown_markdown_body_dark__zmJ7P h5,
.markdown_markdown_body_dark__zmJ7P h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown_markdown_body_dark__zmJ7P h2 {
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 1.5em;
  border-bottom: 1px solid #21262d;
}

.markdown_markdown_body_dark__zmJ7P h3 {
  font-weight: 600;
  font-size: 1.25em;
}

.markdown_markdown_body_dark__zmJ7P h4 {
  font-weight: 600;
  font-size: 1em;
}

.markdown_markdown_body_dark__zmJ7P h5 {
  font-weight: 600;
  font-size: .875em;
}

.markdown_markdown_body_dark__zmJ7P h6 {
  font-weight: 600;
  font-size: .85em;
  color: #8b949e;
}

.markdown_markdown_body_dark__zmJ7P p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown_markdown_body_dark__zmJ7P blockquote {
  margin: 0;
  padding: 0 1em;
  color: #8b949e;
  border-left: .25em solid #30363d;
}

.markdown_markdown_body_dark__zmJ7P ul,
.markdown_markdown_body_dark__zmJ7P ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.markdown_markdown_body_dark__zmJ7P ol ol,
.markdown_markdown_body_dark__zmJ7P ul ol {
  list-style-type: lower-roman;
}

.markdown_markdown_body_dark__zmJ7P ul ul ol,
.markdown_markdown_body_dark__zmJ7P ul ol ol,
.markdown_markdown_body_dark__zmJ7P ol ul ol,
.markdown_markdown_body_dark__zmJ7P ol ol ol {
  list-style-type: lower-alpha;
}

.markdown_markdown_body_dark__zmJ7P dd {
  margin-left: 0;
}

.markdown_markdown_body_dark__zmJ7P tt,
.markdown_markdown_body_dark__zmJ7P code {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
}

.markdown_markdown_body_dark__zmJ7P pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
  word-wrap: normal;
}

.markdown_markdown_body_dark__zmJ7P .markdown_octicon__KsF5E {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.markdown_markdown_body_dark__zmJ7P ::placeholder {
  color: #484f58;
  opacity: 1;
}

.markdown_markdown_body_dark__zmJ7P input::-webkit-outer-spin_button,
.markdown_markdown_body_dark__zmJ7P input::-webkit-inner-spin_button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.markdown_markdown_body_dark__zmJ7P .markdown_pl-c__4IiBj {
  color: #8b949e;
}

.markdown_markdown_body_dark__zmJ7P .markdown_pl-c1__DgZIJ,
.markdown_markdown_body_dark__zmJ7P .markdown_pl-s__jZvTL .markdown_pl-v__ybNQx {
  color: #79c0ff;
}

.markdown_markdown_body_dark__zmJ7P .markdown_pl-e__ZLRno,
.markdown_markdown_body_dark__zmJ7P .markdown_pl-en__ETfwR {
  color: #d2a8ff;
}

.markdown_markdown_body_dark__zmJ7P .markdown_pl-smi__ruhsY,
.markdown_markdown_body_dark__zmJ7P .markdown_pl-s__jZvTL .markdown_pl-s1__kbLvr {
  color: #c9d1d9;
}

.markdown_markdown_body_dark__zmJ7P .markdown_pl-ent__TC2ZD {
  color: #7ee787;
}

.markdown_markdown_body_dark__zmJ7P .markdown_pl-k__2BWne {
  color: #ff7b72;
}

.markdown_markdown_body_dark__zmJ7P .markdown_pl-s__jZvTL,
.markdown_markdown_body_dark__zmJ7P .markdown_pl-pds__oSDyK,
.markdown_markdown_body_dark__zmJ7P .markdown_pl-s__jZvTL .markdown_pl-pse__1pEz2 .markdown_pl-s1__kbLvr,
.markdown_markdown_body_dark__zmJ7P .markdown_pl-sr__kOvgr,
.markdown_markdown_body_dark__zmJ7P .markdown_pl-sr__kOvgr .markdown_pl-cce__QDSgA,
.markdown_markdown_body_dark__zmJ7P .markdown_pl-sr__kOvgr .markdown_pl-sre__rPnvF,
.markdown_markdown_body_dark__zmJ7P .markdown_pl-sr__kOvgr .markdown_pl-sra__dEAtY {
  color: #a5d6ff;
}

.markdown_markdown_body_dark__zmJ7P .markdown_pl-v__ybNQx,
.markdown_markdown_body_dark__zmJ7P .markdown_pl-smw__T_fAg {
  color: #ffa657;
}

.markdown_markdown_body_dark__zmJ7P .markdown_pl-bu__OTaQD {
  color: #f85149;
}

.markdown_markdown_body_dark__zmJ7P .markdown_pl-ii__Bcsh6 {
  color: #f0f6fc;
  background-color: #8e1519;
}

.markdown_markdown_body_dark__zmJ7P .markdown_pl-c2___OV5v {
  color: #f0f6fc;
  background-color: #b62324;
}

.markdown_markdown_body_dark__zmJ7P .markdown_pl-sr__kOvgr .markdown_pl-cce__QDSgA {
  font-weight: bold;
  color: #7ee787;
}

.markdown_markdown_body_dark__zmJ7P .markdown_pl-ml__Uq2FB {
  color: #f2cc60;
}

.markdown_markdown_body_dark__zmJ7P .markdown_pl-mh__yQdxP,
.markdown_markdown_body_dark__zmJ7P .markdown_pl-mh__yQdxP .markdown_pl-en__ETfwR,
.markdown_markdown_body_dark__zmJ7P .markdown_pl-ms__WBgHH {
  font-weight: bold;
  color: #1f6feb;
}

.markdown_markdown_body_dark__zmJ7P .markdown_pl-mi__TFNGu {
  font-style: italic;
  color: #c9d1d9;
}

.markdown_markdown_body_dark__zmJ7P .markdown_pl-mb__8ZYWa {
  font-weight: bold;
  color: #c9d1d9;
}

.markdown_markdown_body_dark__zmJ7P .markdown_pl-md__DPYtj {
  color: #ffdcd7;
  background-color: #67060c;
}

.markdown_markdown_body_dark__zmJ7P .markdown_pl-mi1__TqQGm {
  color: #aff5b4;
  background-color: #033a16;
}

.markdown_markdown_body_dark__zmJ7P .markdown_pl-mc__QtCwG {
  color: #ffdfb6;
  background-color: #5a1e02;
}

.markdown_markdown_body_dark__zmJ7P .markdown_pl-mi2__cKehh {
  color: #c9d1d9;
  background-color: #1158c7;
}

.markdown_markdown_body_dark__zmJ7P .markdown_pl-mdr__eL_do {
  font-weight: bold;
  color: #d2a8ff;
}

.markdown_markdown_body_dark__zmJ7P .markdown_pl-ba__DB_4V {
  color: #8b949e;
}

.markdown_markdown_body_dark__zmJ7P .markdown_pl-sg__46_nf {
  color: #484f58;
}

.markdown_markdown_body_dark__zmJ7P .markdown_pl-corl__aZ8ZJ {
  text-decoration: underline;
  color: #a5d6ff;
}

.markdown_markdown_body_dark__zmJ7P [data-catalyst] {
  display: block;
}

.markdown_markdown_body_dark__zmJ7P g-emoji {
  font-family: "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: 400;
  line-height: 1;
  vertical-align: -0.075em;
}

.markdown_markdown_body_dark__zmJ7P g-emoji img {
  width: 1em;
  height: 1em;
}

.markdown_markdown_body_dark__zmJ7P::before {
  display: table;
  content: "";
}

.markdown_markdown_body_dark__zmJ7P::after {
  display: table;
  clear: both;
  content: "";
}

.markdown_markdown_body_dark__zmJ7P>*:first-child {
  margin-top: 0 !important;
}

.markdown_markdown_body_dark__zmJ7P>*:last-child {
  margin-bottom: 0 !important;
}

.markdown_markdown_body_dark__zmJ7P a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown_markdown_body_dark__zmJ7P .markdown_absent__QDZyp {
  color: #f85149;
}

.markdown_markdown_body_dark__zmJ7P .markdown_anchor__HxXM0 {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.markdown_markdown_body_dark__zmJ7P .markdown_anchor__HxXM0:focus {
  outline: none;
}

.markdown_markdown_body_dark__zmJ7P p,
.markdown_markdown_body_dark__zmJ7P blockquote,
.markdown_markdown_body_dark__zmJ7P ul,
.markdown_markdown_body_dark__zmJ7P ol,
.markdown_markdown_body_dark__zmJ7P dl,
.markdown_markdown_body_dark__zmJ7P table,
.markdown_markdown_body_dark__zmJ7P pre,
.markdown_markdown_body_dark__zmJ7P details {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown_markdown_body_dark__zmJ7P blockquote>:first-child {
  margin-top: 0;
}

.markdown_markdown_body_dark__zmJ7P blockquote>:last-child {
  margin-bottom: 0;
}

.markdown_markdown_body_dark__zmJ7P sup>a::before {
  content: "[";
}

.markdown_markdown_body_dark__zmJ7P sup>a::after {
  content: "]";
}

.markdown_markdown_body_dark__zmJ7P h1 .markdown_octicon-link__Eoxd3,
.markdown_markdown_body_dark__zmJ7P h2 .markdown_octicon-link__Eoxd3,
.markdown_markdown_body_dark__zmJ7P h3 .markdown_octicon-link__Eoxd3,
.markdown_markdown_body_dark__zmJ7P h4 .markdown_octicon-link__Eoxd3,
.markdown_markdown_body_dark__zmJ7P h5 .markdown_octicon-link__Eoxd3,
.markdown_markdown_body_dark__zmJ7P h6 .markdown_octicon-link__Eoxd3 {
  color: #c9d1d9;
  vertical-align: middle;
  visibility: hidden;
}

.markdown_markdown_body_dark__zmJ7P h1:hover .markdown_anchor__HxXM0,
.markdown_markdown_body_dark__zmJ7P h2:hover .markdown_anchor__HxXM0,
.markdown_markdown_body_dark__zmJ7P h3:hover .markdown_anchor__HxXM0,
.markdown_markdown_body_dark__zmJ7P h4:hover .markdown_anchor__HxXM0,
.markdown_markdown_body_dark__zmJ7P h5:hover .markdown_anchor__HxXM0,
.markdown_markdown_body_dark__zmJ7P h6:hover .markdown_anchor__HxXM0 {
  text-decoration: none;
}

.markdown_markdown_body_dark__zmJ7P h1:hover .markdown_anchor__HxXM0 .markdown_octicon-link__Eoxd3,
.markdown_markdown_body_dark__zmJ7P h2:hover .markdown_anchor__HxXM0 .markdown_octicon-link__Eoxd3,
.markdown_markdown_body_dark__zmJ7P h3:hover .markdown_anchor__HxXM0 .markdown_octicon-link__Eoxd3,
.markdown_markdown_body_dark__zmJ7P h4:hover .markdown_anchor__HxXM0 .markdown_octicon-link__Eoxd3,
.markdown_markdown_body_dark__zmJ7P h5:hover .markdown_anchor__HxXM0 .markdown_octicon-link__Eoxd3,
.markdown_markdown_body_dark__zmJ7P h6:hover .markdown_anchor__HxXM0 .markdown_octicon-link__Eoxd3 {
  visibility: visible;
}

.markdown_markdown_body_dark__zmJ7P h1 tt,
.markdown_markdown_body_dark__zmJ7P h1 code,
.markdown_markdown_body_dark__zmJ7P h2 tt,
.markdown_markdown_body_dark__zmJ7P h2 code,
.markdown_markdown_body_dark__zmJ7P h3 tt,
.markdown_markdown_body_dark__zmJ7P h3 code,
.markdown_markdown_body_dark__zmJ7P h4 tt,
.markdown_markdown_body_dark__zmJ7P h4 code,
.markdown_markdown_body_dark__zmJ7P h5 tt,
.markdown_markdown_body_dark__zmJ7P h5 code,
.markdown_markdown_body_dark__zmJ7P h6 tt,
.markdown_markdown_body_dark__zmJ7P h6 code {
  padding: 0 .2em;
  font-size: inherit;
}

.markdown_markdown_body_dark__zmJ7P ul.markdown_no-list__GxYMp,
.markdown_markdown_body_dark__zmJ7P ol.markdown_no-list__GxYMp {
  padding: 0;
  list-style-type: none;
}

.markdown_markdown_body_dark__zmJ7P ol[type="1"] {
  list-style-type: decimal;
}

.markdown_markdown_body_dark__zmJ7P ol[type=a] {
  list-style-type: lower-alpha;
}

.markdown_markdown_body_dark__zmJ7P ol[type=i] {
  list-style-type: lower-roman;
}

.markdown_markdown_body_dark__zmJ7P div>ol:not([type]) {
  list-style-type: decimal;
}

.markdown_markdown_body_dark__zmJ7P ul ul,
.markdown_markdown_body_dark__zmJ7P ul ol,
.markdown_markdown_body_dark__zmJ7P ol ol,
.markdown_markdown_body_dark__zmJ7P ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown_markdown_body_dark__zmJ7P li>p {
  margin-top: 16px;
}

.markdown_markdown_body_dark__zmJ7P li+li {
  margin-top: .25em;
}

.markdown_markdown_body_dark__zmJ7P dl {
  padding: 0;
}

.markdown_markdown_body_dark__zmJ7P dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdown_markdown_body_dark__zmJ7P dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown_markdown_body_dark__zmJ7P table th {
  font-weight: 600;
}

.markdown_markdown_body_dark__zmJ7P table th,
.markdown_markdown_body_dark__zmJ7P table td {
  padding: 6px 13px;
  border: 1px solid #30363d;
}

.markdown_markdown_body_dark__zmJ7P table tr {
  background-color: #0d1117;
  border-top: 1px solid #21262d;
}

.markdown_markdown_body_dark__zmJ7P table tr:nth-child(2n) {
  background-color: #161b22;
}

.markdown_markdown_body_dark__zmJ7P table img {
  background-color: transparent;
}

.markdown_markdown_body_dark__zmJ7P img[align=right] {
  padding-left: 20px;
}

.markdown_markdown_body_dark__zmJ7P img[align=left] {
  padding-right: 20px;
}

.markdown_markdown_body_dark__zmJ7P .markdown_emoji__4S_E3 {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

.markdown_markdown_body_dark__zmJ7P span.markdown_frame__rgnf1 {
  display: block;
  overflow: hidden;
}

.markdown_markdown_body_dark__zmJ7P span.markdown_frame__rgnf1>span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #30363d;
}

.markdown_markdown_body_dark__zmJ7P span.markdown_frame__rgnf1 span img {
  display: block;
  float: left;
}

.markdown_markdown_body_dark__zmJ7P span.markdown_frame__rgnf1 span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #c9d1d9;
}

.markdown_markdown_body_dark__zmJ7P span.markdown_align-center__daXFs {
  display: block;
  overflow: hidden;
  clear: both;
}

.markdown_markdown_body_dark__zmJ7P span.markdown_align-center__daXFs>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

.markdown_markdown_body_dark__zmJ7P span.markdown_align-center__daXFs span img {
  margin: 0 auto;
  text-align: center;
}

.markdown_markdown_body_dark__zmJ7P span.markdown_align-right__uNdQJ {
  display: block;
  overflow: hidden;
  clear: both;
}

.markdown_markdown_body_dark__zmJ7P span.markdown_align-right__uNdQJ>span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

.markdown_markdown_body_dark__zmJ7P span.markdown_align-right__uNdQJ span img {
  margin: 0;
  text-align: right;
}

.markdown_markdown_body_dark__zmJ7P span.markdown_float-left__Cp7_X {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

.markdown_markdown_body_dark__zmJ7P span.markdown_float-left__Cp7_X span {
  margin: 13px 0 0;
}

.markdown_markdown_body_dark__zmJ7P span.markdown_float-right__3KGkB {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

.markdown_markdown_body_dark__zmJ7P span.markdown_float-right__3KGkB>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

.markdown_markdown_body_dark__zmJ7P code,
.markdown_markdown_body_dark__zmJ7P tt {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(110,118,129,0.4);
  border-radius: 6px;
}

.markdown_markdown_body_dark__zmJ7P code br,
.markdown_markdown_body_dark__zmJ7P tt br {
  display: none;
}

.markdown_markdown_body_dark__zmJ7P del code {
  text-decoration: inherit;
}

.markdown_markdown_body_dark__zmJ7P pre code {
  font-size: 100%;
}

.markdown_markdown_body_dark__zmJ7P pre>code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown_markdown_body_dark__zmJ7P .markdown_highlight__wMsYC {
  margin-bottom: 16px;
}

.markdown_markdown_body_dark__zmJ7P .markdown_highlight__wMsYC pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown_markdown_body_dark__zmJ7P .markdown_highlight__wMsYC pre,
.markdown_markdown_body_dark__zmJ7P pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #161b22;
  border-radius: 6px;
}

.markdown_markdown_body_dark__zmJ7P pre code,
.markdown_markdown_body_dark__zmJ7P pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.markdown_markdown_body_dark__zmJ7P .markdown_csv-data__Iiq9v td,
.markdown_markdown_body_dark__zmJ7P .markdown_csv-data__Iiq9v th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

.markdown_markdown_body_dark__zmJ7P .markdown_csv-data__Iiq9v .markdown_blob-num__XgFqy {
  padding: 10px 8px 9px;
  text-align: right;
  background: #0d1117;
  border: 0;
}

.markdown_markdown_body_dark__zmJ7P .markdown_csv-data__Iiq9v tr {
  border-top: 0;
}

.markdown_markdown_body_dark__zmJ7P .markdown_csv-data__Iiq9v th {
  font-weight: 600;
  background: #161b22;
  border-top: 0;
}

.markdown_markdown_body_dark__zmJ7P .markdown_footnotes__hVBzj {
  font-size: 12px;
  color: #8b949e;
  border-top: 1px solid #30363d;
}

.markdown_markdown_body_dark__zmJ7P .markdown_footnotes__hVBzj ol {
  padding-left: 16px;
}

.markdown_markdown_body_dark__zmJ7P .markdown_footnotes__hVBzj li {
  position: relative;
}

.markdown_markdown_body_dark__zmJ7P .markdown_footnotes__hVBzj li:target::before {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -24px;
  pointer-events: none;
  content: "";
  border: 2px solid #1f6feb;
  border-radius: 6px;
}

.markdown_markdown_body_dark__zmJ7P .markdown_footnotes__hVBzj li:target {
  color: #c9d1d9;
}

.markdown_markdown_body_dark__zmJ7P .markdown_footnotes__hVBzj .markdown_data-footnote-backref__TzK0a g-emoji {
  font-family: monospace;
}

.markdown_markdown_body_dark__zmJ7P .markdown_task-list-item__3oA9I {
  list-style-type: none;
}

.markdown_markdown_body_dark__zmJ7P .markdown_task-list-item__3oA9I label {
  font-weight: 400;
}

.markdown_markdown_body_dark__zmJ7P .markdown_task-list-item__3oA9I.markdown_enabled__gLlcN label {
  cursor: pointer;
}

.markdown_markdown_body_dark__zmJ7P .markdown_task-list-item__3oA9I+.markdown_task-list-item__3oA9I {
  margin-top: 3px;
}

.markdown_markdown_body_dark__zmJ7P .markdown_task-list-item__3oA9I .markdown_handle__yu1hR {
  display: none;
}

.markdown_markdown_body_dark__zmJ7P .markdown_task-list-item-checkbox__YZUcd {
  margin: 0 .2em .25em -1.6em;
  vertical-align: middle;
}

.markdown_markdown_body_dark__zmJ7P .markdown_contains-task-list__HJAjs:dir(rtl) .markdown_task-list-item-checkbox__YZUcd {
  margin: 0 -1.6em .25em .2em;
}

.markdown_markdown_body_dark__zmJ7P ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}

