@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
}
.article {
    position: relative;
    min-height: calc(100vh - 173px);
    animation: fadeInAnimation ease-out 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.article > li {
    list-style: none;
    position: relative;
}
.article .container {
    position: relative;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}
.article .container .index {
    margin-top: 30px;
    width: 100%;
    border: 1px solid #000;
    border-radius: 14px;
    overflow: hidden;
}
.article .container .index > li {
    width: 100%;
    height: 20px;
    text-indent: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
    user-select: none;
}
.article .container .index > li:not(:last-child) {
    border-bottom: 1px solid rgb(88, 88, 88);
}
.article .container .index > li:active {
    background-color: rgba(148, 148, 148, 0.459);
}

.svg {
    margin-left: -10px;
    margin-top: 1px;
    margin-right: 10px;
}

@keyframes blogInAnimation {
    0% {
        transform: translateY(70px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.article .container .article {
    margin-top: 10px;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 30px;
    margin-bottom: 10px;
    min-height: 30px;
    animation: blogInAnimation ease-out 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.article .container .APILink {
    position: absolute;
    bottom: 40px;
    right: 40px;
}
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
}
.article .kakoiitoomou {
    position: absolute;
    bottom: -106px;
    left: 55%;
    width: 150px;
    opacity: 0;
    animation: fadeInAnimation ease-out 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

.article .container .index_night {
    margin-top: 30px;
    width: 100%;
    border: 1px solid rgb(187, 186, 186);
    border-radius: 14px;
    overflow: hidden;
}
.article .container .index_night > li {
    width: 100%;
    height: 20px;
    text-indent: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
    user-select: none;
    color: rgb(219, 219, 219);
}
.article .container .index_night > li:not(:last-child) {
    border-bottom: 1px solid rgb(88, 88, 88);
}
.article .container .index_night > li:active {
    background-color: rgba(148, 148, 148, 0.459);
}